<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-gauge@0.1.8/dist/chartjs-gauge.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gaugeJS/dist/gauge.min.js"></script>



<div>
    <div style="display: flex;">
        <% if(user){ %>
        <h2> <%= user.NICKNAME %> 님 환영합니다!</h2>
        <% } %>
        <div>

        </div>
    </div>
</div>

<div class="mypage_button">
    <button class="mypage_tab" onclick="openTab('myinfo')">내 상태</button>
    <button class="mypage_tab" onclick="openTab('info_r')">회원정보수정</button>
    <button class="mypage_tab" onclick="openTab('delete_ID')">계정탈퇴</button>
</div>

<div id="myinfo" class="tab-content">
    <div id="myinfoimg" class="myinfo-container">
        <div id="gauge-container" class="graph-container">
            <% if(user){ %>
            <h3> <%= user.NICKNAME %> 님의 최근 우울도</h3>
            <% } %>
            <div id="gauge-text" style="font-size: 80px;">100</div>
            <!-- 게이지 그래프를 표시할 canvas 요소 -->
            <canvas id="gauge"></canvas>
            <p>계측기 형식의 그래프</p>
        </div>
        <div id="piegraph" class="graph-container">
            <canvas id="myPieChart"></canvas>
            <p>파이 그래프</p>
        </div>
        <div id="linegraph" class="graph-container">
            <canvas id="myLineChart"></canvas>
        </div>
        <div id="worryCategory" class="graph-container">
            <% if(user){ %>
            <h3> <%= user.NICKNAME %> 님의 주요 고민요소</h3>
            <% } %>
            <div id="worry-text">일반고민</div>
        </div>
    </div> 
</div>

<div id="info_r" class="tab-content" style="display:none">
    <form id="info_rr">
        <div class="form-container">
            <div class="form-group">
                <label for="user-id2">ID</label>
                <% if(user){ %>
                    <input type="text" id="user-id2" name="mem_id" value="<%= user.EMAIL %>" readonly>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <% if(user){ %>
                    <input type="text" id="nickname" name="mem_nick" value="<%= user.NICKNAME %>" required>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="password">현재 비밀번호</label>
                <input type="password" id="password" name="mem_pw" placeholder="Password" required>
            </div>
            <div class="form-group" id="pw_box">
                <label for="register_pw">바꿀 비밀번호</label>
                <% if(user){ %>
                <p id="pw_check" style="display: none;"><%= user.PW%></p>
                <% } %>
                <input type="password" id="register_pw2" name="new_pw" placeholder="Password" required>
            </div>
            <p id="mypage_error1" style="color: red; font-size: 17px;"></p>
            <div id="progress_bar2">
                <progress max="4" value="0" id="meter2"></progress>
                <p id="mypage_error3" style="color: red; font-size: 17px;"></p>
            </div>
            <div class="form-group">
                <input type="button" id="info_re" value="수정">
            </div>
        </div>
    </form>
</div>
<div id="delete_ID" class="tab-content" style="display:none">
    <form id="id_del">
        <div class="form-container">
            <div class="form-group">
                <label for="user-id">ID</label>
                <% if(user){ %>
                    <input type="text" id="user-id" name="mem_id" value="<%= user.EMAIL %>" readonly>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password2" name="mem_pw" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">비밀번호 확인</label>
                <input type="password" id="del-password" name="new_pw" placeholder="New password" required>
            </div>
            <p id="mypage_error2" style="color: red; font-size: 20px;"></p>
            <div class="form-group">
                <input type="button" id="del_id" value="삭제">
            </div>
        </div>
    </form>
</div>
