<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-gauge@0.1.8/dist/chartjs-gauge.min.js"></script>

<div>
    <div style="display: flex;">
        <h2> <%= user.NICKNAME %> 님 환영합니다!</h2>
        <div>

        </div>
    </div>
</div>

<div class="mypage_button">
    <button class="mypage_tab" onclick="openTab('myinfo')">내 상태</button>
    <button class="mypage_tab" onclick="openTab('info_r')">회원정보수정</button>
    <button class="mypage_tab" onclick="openTab('delete_ID')">계정탈퇴</button>
</div>

<div id="myinfo" class="tab-content" style="display:block">
    <h2>myinfo</h2>
    <p>내용</p>
    <div id="myinfoimg" class="myinfo-container">
        <div id="gaugegraph" class="graph-container">
            <canvas id="myGaugeChart"></canvas>
            <p>계측기 형식의 그래프</p>
        </div>
        <div id="piegraph" class="graph-container">
            <canvas id="myPieChart"></canvas>
            <p>파이 그래프</p>
        </div>
        <div id="linegraph" class="graph-container">
            <canvas id="myLineChart"></canvas>
            <p>꺾은 선 그래프</p>
        </div>
        <div id="worrycategory" class="graph-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtkwf9C42huD4YP1L5JAlLHHwaOHopI6M8fg&s"
                width="600px" height="600px">
            <p>고민 카테고리</p>
        </div>
    </div>
</div>

<div id="info_r" class="tab-content" style="display:none">
    <form id="info_rr">
        <div class="form-container">
            <div class="form-group">
                <label for="user-id2">ID</label>
                <% if(user){ %>
                    <input type="text" id="user-id2" name="mem_id" value="<%= user.EMAIL %>" readonly>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <% if(user){ %>
                    <input type="text" id="nickname" name="mem_nick" value="<%= user.NICKNAME %>" required>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="password">현재 비밀번호</label>
                <input type="password" id="password" name="mem_pw" placeholder="Password" required>
            </div>
            <div class="form-group" id="pw_box">
                <label for="register_pw">바꿀 비밀번호</label>
                <% if(user){ %>
                    <p id="pw_check" style="display: none;"><%= user.PW%></p>
                    <% } %>
                        <input type="password" id="register_pw2" name="new_pw" placeholder="Password" required>
            </div>
            <p style="color: red;">비상</p>
            <div class="form-group">
                <input type="button" id="info_re" value="수정">
            </div>
        </div>
    </form>
</div>
<div id="delete_ID" class="tab-content" style="display:none">
    <form id="id_del">
        <div class="form-container">
            <div class="form-group">
                <label for="user-id">ID</label>
                <% if(user){ %>
                    <input type="text" id="user-id" name="mem_id" value="<%= user.EMAIL %>" readonly>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password2" name="mem_pw" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">비밀번호 확인</label>
                <input type="password" id="del-password" name="new_pw" placeholder="New password" required>
            </div>
            <div class="form-group">
                <input type="button" id="del_id" value="삭제">
            </div>
        </div>
    </form>
</div>
<script>
    
</script>