<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-gauge@0.1.8/dist/chartjs-gauge.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gaugeJS/dist/gauge.min.js"></script>



<div>
    <div style="display: flex;">
        <% if(user){ %>
        <h2> <%= user.NICKNAME %> 님 환영합니다!</h2>
        <% } %>
        <div>

        </div>
    </div>
</div>

<div class="mypage_button">
    <button class="mypage_tab" onclick="openTab('myinfo')">내 상태</button>
    <button class="mypage_tab" onclick="openTab('survey')">자가진단</button>
    <button class="mypage_tab" onclick="openTab('info_r')">회원정보수정</button>
    <button class="mypage_tab" onclick="openTab('delete_ID')">계정탈퇴</button>
</div>

<div id="myinfo" class="tab-content">
    <div id="myinfoimg" class="myinfo-container">
        <div id="gauge-container" class="graph-container">
            <% if(user){ %>
            <h3> <%= user.NICKNAME %> 님의 최근 우울도</h3>
            <% } %>
            <div id="gauge-text" style="font-size: 80px;">100</div>
            <!-- 게이지 그래프를 표시할 canvas 요소 -->
            <canvas id="gauge"></canvas>
            <p>계측기 형식의 그래프</p>
        </div>
        <div id="piegraph" class="graph-container" style="width:40%">
            <canvas id="myPieChart"></canvas>
            <p>파이 그래프</p>
        </div>
        <div id="linegraph" class="graph-container">
            <canvas id="myLineChart"></canvas>
        </div>
        <div id="worryCategory" class="graph-container">
            <% if(user){ %>
            <h3  class="interpretation-header"> <%= user.NICKNAME %> 님의 주요 고민요소</h3>
            <% } %>
            <h4 id="worry-text">일반고민</h4>
        </div>
    </div> 
</div>

<div id="survey" class="tab-content" style="display: none;">
    <form id="depression-survey">
        <div>
            <h3>추가 사항 : 설문조사 신빙성에 대한 간략한 텍스트 (ex:본 설문은 ~을 참고해서 작성된 질병관리청의 설문조사를 토대로 제공합니다. 등)</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>질문</th>
                    <th>전혀 방해받지 않았다</th>
                    <th>며칠동안 방해받았다</th>
                    <th>7일 이상 방해받았다</th>
                    <th>거의 매일 방해받았다</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1. 일 또는 여가 활동을 하는데 흥미나 즐거움을 느끼지 못함</td>
                    <td><input type="radio" id="q1-0" name="q1" value="0"><label for="q1-0"></label></td>
                    <td><input type="radio" id="q1-1" name="q1" value="1"><label for="q1-1"></label></td>
                    <td><input type="radio" id="q1-2" name="q1" value="2"><label for="q1-2"></label></td>
                    <td><input type="radio" id="q1-3" name="q1" value="3"><label for="q1-3"></label></td>
                </tr>
                <tr>
                    <td>2. 기분이 가라앉거나, 우울하거나, 희망이 없음</td>
                    <td><input type="radio" id="q2-0" name="q2" value="0"><label for="q2-0"></label></td>
                    <td><input type="radio" id="q2-1" name="q2" value="1"><label for="q2-1"></label></td>
                    <td><input type="radio" id="q2-2" name="q2" value="2"><label for="q2-2"></label></td>
                    <td><input type="radio" id="q2-3" name="q2" value="3"><label for="q2-3"></label></td>
                </tr>
                <tr>
                    <td>3. 잠이 들거나 계속 잠을 자는 것이 어려움. 또는 잠을 너무 많이 잠</td>
                    <td><input type="radio" id="q3-0" name="q3" value="0"><label for="q3-0"></label></td>
                    <td><input type="radio" id="q3-1" name="q3" value="1"><label for="q3-1"></label></td>
                    <td><input type="radio" id="q3-2" name="q3" value="2"><label for="q3-2"></label></td>
                    <td><input type="radio" id="q3-3" name="q3" value="3"><label for="q3-3"></label></td>
                </tr>
                <tr>
                    <td>4. 피곤하다고 느끼거나 기운이 거의 없음</td>
                    <td><input type="radio" id="q4-0" name="q4" value="0"><label for="q4-0"></label></td>
                    <td><input type="radio" id="q4-1" name="q4" value="1"><label for="q4-1"></label></td>
                    <td><input type="radio" id="q4-2" name="q4" value="2"><label for="q4-2"></label></td>
                    <td><input type="radio" id="q4-3" name="q4" value="3"><label for="q4-3"></label></td>
                </tr>
                <tr>
                    <td>5. 입맛이 없거나 과식을 함</td>
                    <td><input type="radio" id="q5-0" name="q5" value="0"><label for="q5-0"></label></td>
                    <td><input type="radio" id="q5-1" name="q5" value="1"><label for="q5-1"></label></td>
                    <td><input type="radio" id="q5-2" name="q5" value="2"><label for="q5-2"></label></td>
                    <td><input type="radio" id="q5-3" name="q5" value="3"><label for="q5-3"></label></td>
                </tr>
                <tr>
                    <td>6. 자신을 부정적으로 봄 혹은 자신이 실패자라고 느끼거나 자신 또는 가족을 실망시킴</td>
                    <td><input type="radio" id="q6-0" name="q6" value="0"><label for="q6-0"></label></td>
                    <td><input type="radio" id="q6-1" name="q6" value="1"><label for="q6-1"></label></td>
                    <td><input type="radio" id="q6-2" name="q6" value="2"><label for="q6-2"></label></td>
                    <td><input type="radio" id="q6-3" name="q6" value="3"><label for="q6-3"></label></td>
                </tr>
                <tr>
                    <td>7. 신문을 읽거나 텔레비전 보는 것과 같은 일에 집중하는 것이 어려움</td>
                    <td><input type="radio" id="q7-0" name="q7" value="0"><label for="q7-0"></label></td>
                    <td><input type="radio" id="q7-1" name="q7" value="1"><label for="q7-1"></label></td>
                    <td><input type="radio" id="q7-2" name="q7" value="2"><label for="q7-2"></label></td>
                    <td><input type="radio" id="q7-3" name="q7" value="3"><label for="q7-3"></label></td>
                </tr>
                <tr>
                    <td>8. 다른 사람들이 주목할 정도로 너무 느리게 움직이거나 말을 함 또는 반대로 평상시보다 많이 움직여서, 너무 안절부절 못하거나 들떠 있음</td>
                    <td><input type="radio" id="q8-0" name="q8" value="0"><label for="q8-0"></label></td>
                    <td><input type="radio" id="q8-1" name="q8" value="1"><label for="q8-1"></label></td>
                    <td><input type="radio" id="q8-2" name="q8" value="2"><label for="q8-2"></label></td>
                    <td><input type="radio" id="q8-3" name="q8" value="3"><label for="q8-3"></label></td>
                </tr>
                <tr>
                    <td>9. 자신이 죽는 것이 더 낫다고 생각하거나 어떤 식으로든 자신을 해칠것이라고 생각함</td>
                    <td><input type="radio" id="q9-0" name="q9" value="0"><label for="q9-0"></label></td>
                    <td><input type="radio" id="q9-1" name="q9" value="1"><label for="q9-1"></label></td>
                    <td><input type="radio" id="q9-2" name="q9" value="2"><label for="q9-2"></label></td>
                    <td><input type="radio" id="q9-3" name="q9" value="3"><label for="q9-3"></label></td>
                </tr>
            </tbody>
        </table>
    
        <!-- 합계 점수 및 결과 -->
        <div>
            <button type="button" onclick="calculateScore()">결과 확인</button>
        </div>
        <div id="score-result">
            <p>합계 점수: <span id="total-score"></span></p>
            <p>결과: <span id="result-text"></span></p>
        </div>
        <div>
            <h3>추가 사항 : 우울함 정도에 따른 분류별 간략 설명 및 특정 수준 이상의 우울함을 보일 시, 내원 및 정신과 상담 권유하는 글 or 링크</h3>
        </div>
    </form>
</div>

<div id="info_r" class="tab-content" style="display:none">
    <form id="info_rr">
        <div class="form-container">
            <div class="form-group">
                <label for="user-id2">ID</label>
                <% if(user){ %>
                    <input type="text" id="user-id2" name="mem_id" value="<%= user.EMAIL %>" readonly>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <% if(user){ %>
                    <input type="text" id="nickname" name="mem_nick" value="<%= user.NICKNAME %>" required>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="password">현재 비밀번호</label>
                <input type="password" id="password" name="mem_pw" placeholder="Password" required>
            </div>
            <div class="form-group" id="pw_box">
                <label for="register_pw">새 비밀번호</label>
                <% if(user){ %>
                <p id="pw_check" style="display: none;"><%= user.PW%></p>
                <% } %>
                <input type="password" id="register_pw2" name="new_pw" placeholder="Password" required>
            </div>
            <p id="mypage_error1" style="color: red; font-size: 17px;"></p>
            <div id="progress_bar2">
                <progress max="4" value="0" id="meter2"></progress>
                <p id="mypage_error3" style="color: red; font-size: 17px;"></p>
            </div>
            <div class="form-group">
                <input type="button" id="info_re" value="수정">
            </div>
        </div>
    </form>
</div>
<div id="delete_ID" class="tab-content" style="display:none">
    <form id="id_del">
        <div class="form-container">
            <div class="form-group">
                <label for="user-id">ID</label>
                <% if(user){ %>
                    <input type="text" id="user-id" name="mem_id" value="<%= user.EMAIL %>" readonly>
                    <% } %>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password2" name="mem_pw" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">비밀번호 확인</label>
                <input type="password" id="del-password" name="new_pw" placeholder="New password" required>
            </div>
            <div class="form-group">
                <input type="button" id="del_id" value="삭제">
            </div>
        </div>
    </form>
</div>
