<!DOCTYPE HTML>
<html>

<head>
	<!-- 서버에서 전달받는 title 변수 -->
	<title>
		<%=title%>
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!-- 기본 main.css -->
	<link rel="stylesheet" href="../css/main.css" />

	<!-- 로그인/회원가입 관련 css -->
	<link rel="stylesheet" href="../css/login.css">
	<!-- 로그인/회원가입 내부 아이콘 -->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<!-- 마이페이지 css -->
	<link rel="stylesheet" href="../css/mypage.css">
	<!-- home css -->
	 <link rel="stylesheet" href="../css/home.css">


	<!-- noscript -->
	<noscript>
		<link rel="stylesheet" href="../css/noscript.css" />
	</noscript>

</head>

<body class="is-preload" data-user="<%= user ? user.NICKNAME : '' %>">
	<%- include('login') %>
		<!-- Wrapper-->
		<div id="wrapper">

			<!-- Nav -->
			<nav id="nav">
				<a href="#" class="icon solid fa-comment"><span>Chat Bot</span></a>
				<% if(user){ %>
					<a href="#tarot" class="icon solid fa-hat-wizard"><span>Tarot</span></a>
					<a href="#mypage" class="icon solid fa-user"><span>MyPage</span></a>
				<% } %>
			</nav>

			<!-- Main -->
			<div id="main">
				<!-- 홈(챗봇) -->

				<article id="home" class="panel">
					<%- include('home') %>
				</article>

				<!-- 타로카드 -->
				<article id="tarot" class="panel">
					<%- include('tarot') %>
				</article>

				<!-- 마이페이지 -->
				<article id="mypage" class="panel">
					<%- include('mypage') %>
				</article>

			</div>

			<!-- Footer -->
			<div id="footer">
				<ul class="copyright">
					<li>&copy; 스마트인재개발원</li>
					<li> MindRoad : 김현우 | 문승명 | 김형욱 | 오창선 | 김지성 </li>
				</ul>
			</div>

		</div>

		<!-- 스크립트 js 연결 -->
		<script src="../js/jquery.min.js"></script>
		<script src="../js/browser.min.js"></script>
		<script src="../js/breakpoints.min.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/home.js"></script>
		<script src="../js/login.js"></script>
		<script src="../js/mypage.js"></script>

</body>

</html>