<!DOCTYPE HTML>
<html>

<head>
	<!-- 서버에서 전달받는 title 변수 -->
	<title>
		<%=title%>
	</title>
	<link rel="icon" type="image/png" href="../img/글자x로고.png">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!-- 기본 main.css -->
	<link rel="stylesheet" href="../css/main.css" />

	<!-- 타로 css -->
	<link rel="stylesheet" href="../css/tarot.css">

	<!-- 로그인/회원가입 관련 css -->
	<link rel="stylesheet" href="../css/login.css">
	<!-- 로그인/회원가입 내부 아이콘 -->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<!-- 마이페이지 css -->
	<link rel="stylesheet" href="../css/mypage.css">
	<!-- home css -->
	<link rel="stylesheet" href="../css/home.css">

	<!-- noscript -->
	<noscript>
		<link rel="stylesheet" href="../css/noscript.css" />
	</noscript>

</head>

<body class="is-preload" data-user="<%= user ? user.NICKNAME : '' %>">
	<!-- <div id="logo-container">
        <img src="../img/흰색로고.png" alt="">
    </div> -->
	<%- include('login') %>
		<!-- Wrapper-->
		<div id="wrapper" style="width:100%">

			<!-- Nav -->
			<% if(user){ %>
				<div id="wrapper" style="width: 55em;">
					<nav id="nav">
						<a href="#" class="icon solid fa-comment"><span>Chat Bot</span></a>
						<a href="#tarot" class="icon solid fa-hat-wizard"><span>Tarot</span></a>
						<a id="mypage_button" href="#mypage" class="icon solid fa-user"><span>MyPage</span></a>
						<% }%>
					</nav>

					<!-- Main -->
				<% if (!user){ %>
					<div id="main" style="top: 120px;">
						<!-- 홈(챗봇) -->
						<article id="home" class="panel">
							<%- include('home') %>
						</article>
					<div id="footer">
						<ul class="copyright">
							<li>&copy; 스마트인재개발원</li>
							<li> MindRoad : 김현우 | 문승명 | 김형욱 | 오창선 | 김지성 </li>
						</ul>
					</div>
					</div>
						<% }else{ %>
					<div id="main">
						<article id="home" class="panel">
							<%- include('home') %>
						</article>

						<!-- 타로카드 -->
						<article id="tarot" class="panel">
							<%- include('tarot') %>
						</article>

						<!-- 마이페이지 -->
						<article id="mypage" class="panel">
							<%- include('mypage') %>
						</article>

					</div>
				</div>

				<!-- Footer -->
				<div id="footer">
					<ul class="copyright">
						<li>&copy; 스마트인재개발원</li>
						<li> MindRoad : 김현우 | 문승명 | 김형욱 | 오창선 | 김지성 </li>
					</ul>
				</div>

		</div>
		<% } %>

		<!-- 스크립트 js 연결 -->
		<script src="../js/jquery.min.js"></script>
		<script src="../js/browser.min.js"></script>
		<script src="../js/breakpoints.min.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/home.js"></script>
		<script src="../js/login.js"></script>
		<script src="../js/mypage.js"></script>
		<script src="../js/tarot.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-gauge@0.1.8/dist/chartjs-gauge.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/gaugeJS/dist/gauge.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>


</body>

</html>